.statusBooking {
    font-weight: bold;
}
.form-check-inline {
    padding-right: 1rem !important;
    margin-right: 0.5rem !important;
}
.btn-status {
    padding-bottom: 0px;
    padding-top: 0px;
}
.form-check-inline .form-check-input {
    display: none;
}