.statusBooking {
    font-weight: bold;
}
.form-check-inline {
    padding-right: 1rem !important;
    margin-right: 0.5rem !important;
}
.btn-status {
    padding-bottom: 0px;
    padding-top: 0px;
}
.form-check-inline .form-check-input {
    display: none;
}
.col-status {
    padding-left: 0px;
    padding-right: 0px;
}
.time_status  {
    width: 25%;
}
.col-readonly {
    padding-left: 0px;
}
.suggest {
    text-align: center;
    padding-top: 15px;
    padding-left: 12%;
}
.color-booking {
    color: #23282c;
}