// Here you can add other styles
.main {
  .container-fluid {
    padding: 15px 15px;
  }
  ol.breadcrumb {
    margin-bottom: 15px;
  }
}
.navbar-nav {
  .nav-item {
    .dropdown-menu {
      a {
        text-decoration: none;
      }
    }
  }
}
.btn-xs,
.btn-group-xs {
  padding: 0.15rem 0.5rem;
  font-size: .67rem;
}
.modal-sm {
  .modal-content {
    border-color: #20a8d8;
    border: 1px solid #20a8d8;
  }
  .modal-header {
    color: white;
    background-color: #20a8d8;
  }
}
.sweet-loading {
  text-align: center;
}
.edit_delete {
  width: 64px !important;
}
.fa-edit {
  margin-right: 5px;
  color: #0707da;
  cursor: pointer;
}
.fa-trash-o {
  color: #f86c6b;
  cursor: pointer;
}
.openTime {
  width: 110px;
  text-align: center;
}
.time {
  margin-bottom: 5px;
}
.nav-dropdown-toggle {
  padding-left: 5px !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.imageEditNews {
  width: 100px;
  height: auto;
  padding-bottom: 5px;
}
.center {
  text-align: center;
}
.icon_edit_del {
  margin-top: 5px !important;
}
.coutor {
  cursor: pointer;
}
.form-login {
  opacity: 0.85;
}
.hearder-login {
  background: none;
  padding-top: 0px;
}
.pagination {
  margin-bottom: 0px;
  margin-top: 15px;
  float: right;
}
.create_date {
  width: 10%;
}
.publisd_date {
  width: 11%;
}
.ql-editor {
  min-height: 100px;
}
.md6-right {
  text-align: right;
  padding-right: 10px;
}
.cancel {
  margin-right: 15px;
}