// Here you can add other styles
.main {
  .container-fluid {
    padding: 15px 15px;
  }
  ol.breadcrumb {
    margin-bottom: 15px;
  }
}
.navbar-nav {
  .nav-item {
    .dropdown-menu {
      a {
        text-decoration: none;
      }
    }
  }
}
.btn-xs,
.btn-group-xs {
  padding: 0.15rem 0.5rem;
  font-size: .67rem;
}
.modal-sm {
  .modal-content {
    border-color: #20a8d8;
    border: 1px solid #20a8d8;
  }
  .modal-header {
    color: white;
    background-color: #20a8d8;
  }
}
.sweet-loading {
  text-align: center;
}
